@import url('https://api.fontshare.com/v2/css?f[]=bebas-neue@400&f[]=nunito@300,200,400,500&display=swap');

:root {
  --font-family: 'bebas-neue', sans-serif;
  --font-family2: 'nunito', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #888888;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

  --button-color: #EB592D;
  --button-height: 60px;
  --button-width: 181px;
  --button-size: font-size: 16px;
  --button-line-height: 50px;
}